/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 16px/1.5 'Ubuntu';
    background-color: #FEC825;
    color: #39302E;
    overflow: hidden;
    height: 100%;
}

h1, h2, h3, h4 {
    font-weight: 700;
} 

.wrapper {
    width: 90%;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

.hide {
    visibility: hidden;
    width: 0px !important;
    height: 0px !important;
    margin: 0 !important;
}

.project {
    text-align: center;
    position: fixed;
    top: 32%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
}


/*=============
    LOGO
=============*/

#headOutline {
    z-index: 3;
}

#rightAntenna {
    z-index: 2;
}

.title {   
    padding-top: 30px;
    /*padding-bottom: 10px;*/
    margin: auto;
    font-size: 40px;
    
}

.blurb1 {
    /*margin-bottom: 50px;*/
}

#lineMask {
    position: absolute;
    z-index: 1;
}

.logo {
    height: 504px;
    width: 386px;
    margin: auto;
}

/*=============
    PLEDGE
=============*/

.pledge {
    height: 504px;
    width: 386px;
    margin: auto;
}

.security-container {
    height: 220px;
    position: relative;
    top: 43px;
}

.securityTitle {
    float: right;
    position: relative;
    right: 125px;
    font-size: 30px;
    
}

.securityImage {
    /*height: 177px;*/
    position: relative;
    margin: auto;
    float: left;
    top: 20px;
    visibility: hidden;
}

.securityBlurb {
    width: 61%;
    float: right;
    margin: auto;
    text-align: center;
    left: -70px;
    position: relative;
} 

.trust-container {
    height: 270px;    
    position: relative;
    top: 40px;
}

.trustImage {
    /*position: relative;
    float: left;
    top: 40px;
    left: -19px;*/
    visibility: hidden;
    width: 0px;
    height: 0px;
    
}

.trustTitle {
    float: right;
    position: relative;
    right: 152px;
    top: 42px;
    font-size: 30px;
}

.trustBlurb {
    width: 61%;
    float: right;
    margin: auto;
    text-align: center;
    top: 136px;
    position: relative;
    left: 15px;
}

/*=============
    PRICING
=============*/

.pricing {
    height: 504px;
    width: 386px;
    margin: auto;
    top: 100px;
    text-align: left;
}

.pricingOne-container {
    width: 490px;
    height: 168px;
    position: absolute;
    top: 50px;
}

.pricingTwo-container {
    width: 490px;
    height: 168px;
    position: absolute;
    top: 224px;
}

.pricingThree-container {
    width: 490px;
    height: 168px;
    position: absolute;
    top: 385px;
}


.pricingOne {
    font-size: 50px;
    width: 60px;
    float: left;
    margin: auto;
    position: relative;
    left: 40px;
}

.pricingTwo {
    font-size: 50px;
    width: 60px;
    float: left;
    margin: auto;
    position: relative;
    left: 44px;
}

.pricingThree {
    font-size: 50px;
    width: 60px;
    float: left;
    margin: auto;
    position: relative;
    left: 44px;
}

.pricingOneBlurb {
    margin: auto;
    float: right;
    width: 200px;
    position: relative;
    top: 50px;
    left: -2px;
}

.pricingTwoBlurb {
    margin: auto;
    float: right;
    width: 200px;
    position: relative;
    top: 50px;
    left: 62px;    
}

.pricingThreeBlurb {
    margin: auto;
    float: right;
    width: 200px;
    position: relative;
    top: 50px;
    left: -52px;
}

.pricingOneTitle {
    float: right;
    margin: auto;
    position: relative;
    right: 205px;
    top: 10px;
}

.pricingTwoTitle {
    float: right;
    margin: auto;
    position: relative;
    right: 140px;
    top: 10px;   
}

.pricingThreeTitle {
    float: right;
    margin: auto;
    position: relative;
    right: 253px;
    top: 10px;      
}

/*=============
    CONTACT
=============*/

.contact {
    height: 504px;
    width: 386px;
    margin: auto;
    top: 100px;
}

.contactTitle {
    top: 54%;
    transform: translateY(-50%);
    position: relative;
    left: -67px;
}

/*=============
    BUTTON 
=============*/

.button-container {
    text-align: center;
    position: fixed;    
    left: 50%;
    margin-top: 55px;
    transform: scale(0.7, 0.7);
}

a.button1 {
    text-decoration: none;
    width: 108px;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: -246px;
    /*transform: translateX(-30%);*/
}

a.button2 {
    text-decoration: none;
    width: 108px;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: -119px;
    /*transform: translateX(-40%);*/
}

a.button3 {
    text-decoration: none;
    width: 108px;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 7px;
    /*transform: translateX(-50%);*/
}

a.button4 {
    text-decoration: none;
    width: 108px;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 133px;
    /*transform: translateX(-65%);*/
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.bp {
    width: 37px;
    height: 100%;
    border: 2px rgba(255,255,255,1) solid;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.active>.bp {
    border:none;
    background-color: #39302E;
}

.bp-mid {
    left: 36px;
    border-width: 2.5px 0;
}

.bp-left {
    border-width: 2.5px 0 2.5px 2.5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bp-right {
    left: 72px;
    right: 0;
    border-width: 2.5px 2.5px 2.5px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bp-text {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    z-index:1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 1000px) {

   .wrapper {
        width: 90%;
        margin: 0 auto;
        visibility: hidden;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
    }

    .hide {
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
        margin: 0 !important;
    }

    .project {
        text-align: center;
        position: fixed;
        top: 43%;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(-50%);
    }


    /*=============
        LOGO
    =============*/

    #headOutline {
        z-index: 3;
    }

    #rightAntenna {
        z-index: 2;
    }

    .title {   
        padding-top: 30px;
        /*padding-bottom: 10px;*/
        margin: auto;
        font-size: 40px;
        
    }

    .blurb1 {
        /*margin-bottom: 50px;*/
    }

    #lineMask {
        position: absolute;
        z-index: 1;
    }

    .logo {
        height: 504px;
        width: 490px;
        margin: auto;
    }

    /*=============
        PLEDGE
    =============*/

    .pledge {
        height: 504px;
        width: 490px;
        margin: auto;
    }

    .security-container {
        height: 220px;
        position: relative;
        top: 43px;
    }

    .securityTitle {
        float: right;
        position: relative;
        right: 161px;
        font-size: 30px;
        
    }

    .securityImage {
        height: 177px;
        position: relative;
        margin: auto;
        float: left;
        top: 20px;
        visibility: visible;
    }

    .securityBlurb {
        width: 61%;
        float: right;
        margin: auto;
        text-align: left;
        left: 0;
    } 

    .trust-container {
        height: 270px;    
        position: relative;
        top: 40px;
    }

    .trustImage {
        position: relative;
        float: left;
        top: 40px;
        left: -19px;
        visibility: visible;
    }

    .trustTitle {
        float: right;
        position: relative;
        right: 211px;
        top: 30px;
        font-size: 30px;
    }

    .trustBlurb {
        text-align: left;
        top: 126px;
        left: 94px;
    }

    /*=============
        PRICING
    =============*/

    .pricing {
        height: 504px;
        width: 490px;
        margin: auto;
        top: 100px;
        text-align: left;
    }

    .pricingOne-container {
        width: 490px;
        height: 168px;
        position: relative;
        top: 50px;
    }

    .pricingTwo-container {
        width: 490px;
        height: 168px;
        position: absolute;
        top: 224px;
    }

    .pricingThree-container {
        width: 490px;
        height: 168px;
        position: absolute;
        top: 385px;
    }


    .pricingOne {
        font-size: 50px;
        width: 60px;
        float: left;
        margin: auto;
        position: relative;
        left: 93px;
    }

    .pricingTwo {
        font-size: 50px;
        width: 60px;
        float: left;
        margin: auto;
        position: relative;
        left: 93px;
    }

    .pricingThree {
        font-size: 50px;
        width: 60px;
        float: left;
        margin: auto;
        position: relative;
        left: 93px;
    }

    .pricingOneBlurb {
        margin: auto;
        float: right;
        width: 200px;
        position: relative;
        top: 50px;
        left: 100px;
    }

    .pricingTwoBlurb {
        margin: auto;
        float: right;
        width: 200px;
        position: relative;
        top: 50px;
        left: 162px;    
    }

    .pricingThreeBlurb {
        margin: auto;
        float: right;
        width: 200px;
        position: relative;
        top: 50px;
        left: 55px;
    }

    .pricingOneTitle {
        float: right;
        margin: auto;
        position: relative;
        right: 100px;
        top: 10px;
    }

    .pricingTwoTitle {
        float: right;
        margin: auto;
        position: relative;
        right: 37px;
        top: 10px;   
    }

    .pricingThreeTitle {
        float: right;
        margin: auto;
        position: relative;
        right: 146px;
        top: 10px;      
    }

    /*=============
        CONTACT
    =============*/

    .contact {
        height: 504px;
        width: 490px;
        margin: auto;
        top: 100px;
    }

    .contactTitle {
        top: 30%;
        transform: translateY(-50%);
        position: relative;
        left: 0;
        font-size: 25px;
    }

    /*=============
        BUTTON 
    =============*/

    .button-container {
        transform: scale(1,1);
    }

    a.button1 {
        text-decoration: none;
        width: 108px;
        display: block;
        margin: 0 auto;
        color: white;
        padding: 8px 0;
        position: absolute;
        top: 0;
        left: -238px;
        /*transform: translateX(-30%);*/
    }

    a.button2 {
        text-decoration: none;
        width: 108px;
        display: block;
        margin: 0 auto;
        color: white;
        padding: 8px 0;
        position: absolute;
        top: 0;
        left: -112px;
        /*transform: translateX(-40%);*/
    }

    a.button3 {
        text-decoration: none;
        width: 108px;
        display: block;
        margin: 0 auto;
        color: white;
        padding: 8px 0;
        position: absolute;
        top: 0;
        left: 13px;
        /*transform: translateX(-50%);*/
    }

    a.button4 {
        text-decoration: none;
        width: 108px;
        display: block;
        margin: 0 auto;
        color: white;
        padding: 8px 0;
        position: absolute;
        top: 0;
        left: 140px;
        /*transform: translateX(-65%);*/
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
    }

    .bp {
        width: 37px;
        height: 100%;
        border: 2px rgba(255,255,255,1) solid;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .active>.bp {
        border:none;
        background-color: #39302E;
    }

    .bp-mid {
        left: 36px;
        border-width: 2.5px 0;
    }

    .bp-left {
        border-width: 2.5px 0 2.5px 2.5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .bp-right {
        left: 72px;
        right: 0;
        border-width: 2.5px 2.5px 2.5px 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .bp-text {
        position: relative;
        font-weight: bold;
        font-size: 16px;
        z-index:1;
    }


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}